.app {
    overflow: visible;
    font-size: 13px;
    color: var(--text-color);
}

.header {
    background-image: linear-gradient(0, #f63, #f53d2d);
    height: 120px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__nav-list {
    list-style: none;
    padding-left: 0;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 13px;
    margin: 10px 0 0 0;
}

.header__nav-item {
    margin: 0 8px;
    position: relative;
}

.header__nav-item,
.header__nav-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}

.header__nav-item,
.header__nav-item-link,
.header__nav-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__nav-item--has-qr:hover .header__qr {
    display: block;
}

.header__nav-item:hover,
.header__nav-item-link:hover {
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__nav-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.header__nav-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__nav-icon {
    font-size: 1.8rem;
    margin: 0 1px;
    color: white;
}

.header__nav-title--no-pointer {
    color: var(--white-color);
    cursor: text;
}

/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 180px;
    position: absolute;
    top: 180%;
    left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in-out 0.3s;
    z-index: 1;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 16px;
    width: 75px;
}

.header__qr-download-img:nth-child(1) {
    margin-left: 11px;
}

.header__qr-download-img:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img:nth-child(3) {
    margin: 11px 11px;
}

/* Header notify */
.header__notify {
    position: absolute;
    top: calc(100% + 10px);
    right: 10px;
    background-color: var(--white-color);
    z-index: 1;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in-out 0.3s;
}

.header__notify--no-login {
    padding: 24px 0;
}

.header__notify-img {
    width: 25%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.header__notify--no-login-msg {
    display: block;
    text-align: center;
    color: var(--text-color);
    font-size: 1.4rem;
    margin-top: 14px;
}

.header__notify-footer {
    display: flex;
    margin-top: 90px;
    margin-bottom: -24px;
}

.header__notify-footer-btn {
    color: var(--text-color);
    width: 100%;
    text-align: center;
    padding: 12px;
    margin: auto;
    text-decoration: none;
    font-size: 1.4rem;
    background-color: rgb(252, 243, 243)
}

.header__notify-footer-btn:hover {
    background-color: rgba(232, 229, 229, 0.7);
    ;
    color: rgb(243, 86, 55);
}

.header__nav-text:hover .header__notify {
    display: block;
}

.header__notify::after {
    content: "";
    position: absolute;
    right: 16px;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 150px;
}

.header__logo-img {
    width: 120px;
    color: var(--white-color);
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 3px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: rgba(243, 86, 55, 0.8);
    cursor: pointer;
}

.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
}

.header__search-input:focus~.header__search-hint {
    display: block;
}

.header__search-hint {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 15px);
    height: 100%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    display: none;
}

.header__search-hint-msg {
    display: block;
    padding: 10px;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}

.header__search-hint-msg:hover {
    background-color: #fbf6f6;
}

.header__search-hint-img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 12px;
}

/* Cart */
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    display: inline-block;
    position: relative;
    padding: 0 8px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 2.4rem;
    margin-top: 6px;
    color: var(--white-color);
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    width: 400px;
    top: calc(100% + 15px);
    right: -1px;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    display: none;
    animation: fadeIn ease-in-out 0.3s;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 4px;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list-no-cart {
    padding: 28px 0;
}

.header__cart-list--no-cart-msg {
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
}

/* Banner */
.grid {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.l-8 {
    display: block;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.l-4 {
    display: block;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.l-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.l-6 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
}

.app__banner {
    padding-top: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.app__banner-content {
    margin-top: 15px;
}

.full-home-banners__main {
    position: relative;
}

.full-home-banners__main:hover .full-home-banners__main-controls i {
    display: flex;
}

.full-home-banners__main-item {
    display: none;
    animation: fadeIn linear 0.2s;
}

.full-home-banners__main-item.active {
    display: block;
}

.full-home-banners__main-item img {
    width: 100%;
    height: 235px;
    border-radius: 2px;
}

.full-home-banners__main-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.full-home-banners__main-controls i {
    width: 35px;
    height: 60px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--white-color);
    animation: fadeIn ease-in 0.2s;
}

.full-home-banners__main-controls i:first-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.full-home-banners__main-controls i:last-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.full-home-banners__main-controls i:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}

.full-home-banners__main-indicators {
    position: absolute;
    bottom: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.full-home-bannders__main-dot {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.full-home-bannders__main-dot.active {
    background-color: var(--primary-color);
    border: 0;
}

.full-home-banners__right-link {
    display: block;
    width: 100%;
}

.full-home-banners__right-link:nth-child(2) {
    margin-top: 5px;
}

.full-home-banners__right-img {
    height: 115px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
}

.app__banner-list {
    padding-left: 0;
    margin-top: 30px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.banner-list__item {
    width: 100px;
    height: 90px;
}

.banner-list__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner-list__img {
    width: 45px;
    height: 45px;
    background-repeat: none;
    background-size: cover;
}

.banner-list__title {
    text-align: center;
    padding: 10px 0;
}